[user]
	name = Marek Kohn
	email = marek.kohn@gmx.net
	signingkey = 

[commit]
	gpgsign = true

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color "diff"]
	old = red strike
	new = green italic

